@model JulianTorres_ExamenP1.Models.JTTabla

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>JTTabla</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JTTablaId" />
            <div class="form-group">
                <label asp-for="JTTablaObjeto" class="control-label"></label>
                <input asp-for="JTTablaObjeto" class="form-control" />
                <span asp-validation-for="JTTablaObjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JTCostoBruto" class="control-label"></label>
                <input asp-for="JTCostoBruto" class="form-control" />
                <span asp-validation-for="JTCostoBruto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JTALaVenta" /> @Html.DisplayNameFor(model => model.JTALaVenta)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JTEmailAddress" class="control-label"></label>
                <input asp-for="JTEmailAddress" class="form-control" />
                <span asp-validation-for="JTEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JTFecha" class="control-label"></label>
                <input asp-for="JTFecha" class="form-control" />
                <span asp-validation-for="JTFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JTPVP" class="control-label"></label>
                <input asp-for="JTPVP" class="form-control" />
                <span asp-validation-for="JTPVP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
