@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tablitas Examen Progreso 1</h1>
    <p>Dirigete a la <a class="nav-link text-dark" asp-area="" asp-controller="JTTabla" asp-action="JTIndex" style="color:olivedrab">Tablita</a></p>
</div>
